.horizontal-barchart .tick {
  fill: var(--gray400);
}

.horizontal-barchart .bar {
  fill: var(--accentColor);
  transition: fill 100ms ease-in-out;
}

.horizontal-barchart .bar.dimmed {
  fill: var(--gray100);
}

.horizontal-barchart .tick-left {
  font-weight: bold;
}

.horizontal-barchart .tick-bottom {
  font-size: 12px;
}

.horizontal-barchart .x-axis-line {
  stroke: var(--gray300);
  opacity: 0.6;
}

.horizontal-barchart .tick-line {
  fill: var(--gray200);
}
