.landmarks .land {
  fill: var(--gray100);
}

.landmarks .sphere {
  fill: var(--gray50);
  stroke: var(--gray100);
}

.landmarks .interiors {
  fill: none;
  stroke: var(--gray200);
}

.landmarks .graticules {
  fill: none;
  stroke: var(--gray100);
}

.bubble-map .data-circle {
  fill: var(--accentColor);
  opacity: 0.1;
  will-change: fill;
}