.landmarks .land {
  fill: #dce3e4;
}
.landmarks .sphere {
  fill: #ebf0f1;
  stroke: #dbe1e2;
}
.landmarks .interiors {
  fill: none;
  stroke: #bfcdd1;
}
.landmarks .graticules {
  fill: none;
  stroke: #e0e7e9;
}
.bubble-map .data-circle {
  fill: var(--accentColor);
  opacity: 0.1;
}
