.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.tooltip-content {
  padding: 1rem;
  background: var(--white);
  color: var(--gray400);
  border: 1px solid var(--grayLight);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(-50%,-50%);
}

.tooltip .label {
  font-weight: bold;
}
