body {
  background: #f1f3f5;
}
.landmarks .land {
  fill: #c3cecf;
}
.landmarks .sphere {
  fill: #e9eff0;
  stroke: #dbe1e2;
}
.landmarks .interiors {
  fill: none;
  stroke: #899191;
}
.landmarks .graticules {
  fill: none;
  stroke: #dbe1e2;
}
