body {
  background: #f1f3f5;
}
.marks .land {
  fill: #c3cecf;
}
.marks .sphere {
  fill: #e9eff0;
  stroke: #dbe1e2;
}
.marks .interiors {
  fill: none;
  stroke: #899191;
}
.marks .graticules {
  fill: none;
  stroke: #dbe1e2;
}
